// _variables.scss
$background-color: #F4EFEA;
$white-color: #fff;
$text-color: #000;
$primary-color: #9ed829;
$secondary-color: #b3d374;
$accent-color: #CBDEA6;
$dark-gray: #313131;
$header-font: "monarcha", serif;
$body-font: "fieldwork", sans-serif;
$h1-font-size: 100px;
$h3-font-weight: 700;
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
$border-radius: 15px;
